
.page2background{
    margin:0;
    background-image: url("images/Background\ wall.png");
    background-size: cover; /* Scale the image to cover the entire container */
    background-position: center; /* Center the image horizontally and vertically */
    background-attachment: fixed; /* Keep the background fixed as the content scrolls */
    color: rgb(187, 186, 186);
    font-family: pixelify sans;
}
.navbar{
	/*Header */
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
	font-family: pixelify sans;
    font-size:20px;
	font-style: normal;
	font-weight: 400;
}
.navbar nav{
	/*Nav bar containing links in header */
	text-align: center;
	width: 100%;
	float: left;
	color: rgb(187, 186, 186);
}
.navbar nav a{
    text-decoration: none;
    text-align: center;
    padding:12px;
	float: left;
	color: rgb(203, 198, 198);
    width:18%;
}
.navbar nav a:hover{
	color: rgb(242, 255, 192);
}
/* Hamburger icon */
.navbar .icon {
    display: none;
    color: rgb(187, 186, 186);
    font-family: pixelify sans;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;

} 
/*box that contains the Title "Chronicles of Eldoria"*/
#Title{
    position:relative;
    left:10%;
    width:1015px;
    display: flex; 
    background: rgb(0,0,0,0.5);

} 
/* Title's position and style */
#FourKingdoms{
    margin-top:150px;
    text-align:right;
    justify-content: center;
    width:85%; 
    font-family: pixelify sans;
	color: rgb(203, 198, 198);
    font-size:50px;
}
.navbar .page{
	color: rgb(242, 255, 192);
}

.gameplay-container{
    display:flex;
    justify-content: center;
    align-items: center; 
    border:2px solid rgb(0,0,0,0);
} 
.GameTitle{
    margin-left:10%;
    text-align: left;
    width: 90%;
    justify-content: center;
    font-family: pixelify sans;
    color: rgb(203, 198, 198);
}
.main-container{
    position:relative;
    left:10%;
    width:80%;
    display: flex; /* Use flexbox */
    border:2px solid rgb(0,0,0,0);
    background-color: rgb(0,0,0,0.5); 
}
.small-container1{
    width: 58%; /* Adjust width as needed, leaving some space for margins */ /* Optional padding for content inside the smaller containers */
    box-sizing: border-box;
}
.small-container2{
    margin-top:6px;
    width:30%; /* Optional padding for content inside the smaller containers */
    box-sizing: border-box;
}
.slider-container {
    left:50px;
    position: relative;
    width: 80%;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Each images on the slider */
.slide img {
    max-width: 100%;
    height: auto;
}

.image-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-row img {
    width: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.slider-container .prev {
    left: 10px;
}

.slider-container .next {
    right: 10px;
}
.coverpage{
    width:100%;
    height:auto;
}
/* Desciption of game at download page */
.Paragraph{
    font-family: pixelify sans;
    color: rgb(203, 198, 198);

}
/* "All reviews" and "Developer" styling */
.Part1{
    font-family: pixelify sans;
    color: rgb(203, 198, 198);
}
.results{
    font-family: pixelify sans;
    color: rgb(97, 160, 255);
}
.team{
    font-family: pixelify sans;
    color: rgb(97, 160, 255);
}
/* Position of box that appears when you hover over the reviews */
.tooltip {
    position: relative;
    display: inline-block;
}
/* The styling of the box that appears when you hover over the reviews */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
/* When on hover, the tooltip(box) is shown */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.team{
    text-decoration: none;
}
.team:hover{
    color: rgb(255, 255, 255);
}
/* Styling for all user reviews */
.steam-review {
    font-family: pixelify sans;
    color: rgb(203, 198, 198);
    background: rgb(0,0,0,0.5);
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left:125px;
    padding: 20px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.review-summary {
    display: flex;
}

.review-summary img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.summary-details h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.rating {
    color: #63a34a;
    font-weight: bold;
}
.Badrating{
    color:rgb(221, 90, 90);
    font-weight:bold;
}

.user-review {
    display: flex;
    margin-top: 20px;
}

.user-details img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.user-info {
    margin-top: 5px;
}

.username {
    font-weight: bold;
}

.comment-text {
    margin-bottom: 10px;
}

.timestamp {
    color: #777;
}
.user-comment{
    width:70%;
}
/* Background of download bar */
.Download {
    float: left;
    display: flex;
    flex-direction: column;
    font-family: pixelify sans;
    color: rgb(203, 198, 198);
    width: 1015px;
    margin-top: 50px;
    margin-left: 125px;
    background-image: linear-gradient(to right, #505050, #999999);
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative; /* Added position relative for absolute positioning */
}

/* Box that contains the "Download kingdoms of eldoria" text */
.box {
    padding: 20px;
}

/* Position of "Download kingdoms of eldoria" text */
.DownloadText {
    color: rgb(203, 198, 198);
    float: left;
    text-align: left;
    font-size: 20px;
}

/* Style of download button */
.download-button {
    position: absolute; 
    top: 30%; 
    right: 10px; 
    background-color: #4aa84b;
    /* background-color: #1b2838; */
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #30475e;
}
/* Feature 1 box container */
.Feature1 {
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 20px;
    font-size: 20px;
    align-items: center;
    display: flex;
}
/* Feature 2 box container */
.Feature2{
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    text-align: right; 

}
/* Feature 3 box container */
.Feature3{
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;

}
.gameplay {
    max-width: 50%;
    margin-right: 20px;
    animation: slideInLeft 0.7s ease-out forwards, fadeIn 0.7s ease-out forwards;
}
.word {
    margin:20px;
    flex-grow: 1;
    animation: slideInRight 0.7s ease-out forwards, fadeIn 0.7s ease-out forwards;
}
.gameplay2{
    max-width: 50%;
    margin-right: 20px;
    animation: slideInRight 0.7s ease-out forwards, fadeIn 0.7s ease-out forwards;
}
.word2{
    margin:20px;
    flex-grow: 1;
    animation: slideInLeft 0.7s ease-out forwards, fadeIn 0.7s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Big{
    text-align: center;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding:20px;
    background-color: rgb(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.About-us{
    text-align: center;
}
.Container1 {
    float:left;
    text-align: center;
    margin-bottom: 40px;
}
.Container2{
    text-align: center;
    margin-bottom: 40px;
}

.Container1 img, .Container2 img {
    width: 100%;
    max-width: 150px;
    height:auto;
}

.person-info {
    border:2px solid rgb(0,0,0,0);
    margin-top: 20px;
}
/* Footer start */
.Footer{
    border:2px solid rgb(0,0,0,0);
    text-align: center;
    background-color: #333;
}
.Footer p{
    color: rgb(215, 215, 215);
    font-family: pixelify sans;
    background-color: #333;
}
a{
    color: rgb(215, 215, 215);
}
a:hover{
    color: white;
}

@media screen and (max-width:769px) {
    .Footer p{
        width:70%
    }
    #Title{
        /* Removes the gap on left of Title in download page when in mobile view */
        left:0%;
        width:100%;
    }
    .Download{
        margin-left: 0px;
        width:100%
    }
    .navbar nav a{
        /* Removes all navabr headers*/
        display:none;
    }
    .BigContainer{
        flex-direction: column;
    }
    .navbar .icon{
        /* Shows icon on right of navbar when in mobile view */
        float: right;
        display: block;
    }
    /* Styles the navbar into a hamburger menu */
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
        display: block;
        float: none;
        text-align: left;
        font-size:15px;
    }
    .Gameplay{
        padding-top: 0px;
    }
    .word ,.word2{
        text-align: center;
        font-size:15px
    }
    .main-container {
        flex-direction: column;
        left: 0;
        width: 99%;
    }

    .small-container1,
    .small-container2 {
        width: 100%;
    }

    .slider-container {
        left:0px;
        width: 100%;
    }

    .slider-content {
        width: 100%; /* Adjust based on the number of slides */
    }

    .slide {
        min-width: 100%;
    }

    .image-row img {
        width: 30px;
        margin: 0 3px;
    }
    
    .steam-review {
        margin-left: 0;
        width: 85%;
    }
    .Feature1,
    .Feature2,
    .Feature3 {
        flex-direction: column;
        align-items: center;
    }


}
